@use '../../../styles/variables' as v;

.main {
  // Définir une taille pour overflow
  color: v.$color-primary;
  height: 60vh;
  overflow-y: auto;

  &-title {
    padding: 0.5rem;
  }

  &-item {
    padding: 0.5rem;
    list-style-type: none;
    border-top: 1px solid v.$color-primary;
    transition: 1s;

    &:focus {
      outline: none !important;
    }
    // le style quand la souris passe au dessus du li
    &:hover {
      background-color: v.$color-alt;
      transition: 0.2s;
    }
  }
}
