.main {
  height: 5%;
  width: auto;
  overflow-y: scroll;
  color: #bb5432;

  &-title {
    font-size: 1500;
  }

  &-item {
    font-size: 500;
    list-style-type: none;
    border-bottom: 5px #bb5432;
    text-align: left;
    padding: 0.1rem;
  }
}
