// Palette principale (Orange)
$color-primary: #f97316; // Radix orange9
$color-primary-light: #fdba74; // Radix orange6
$color-primary-dark: #c2410c; // Radix orange10

// Neutres Radix
$color-light: #f3f4f6; // gris léger pour le fond
$color-dark: #1f2937; // gris foncé Radix pour le mode sombre
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-800: #374151;
$color-gray-900: #111827;

// Accent pour le mode sombre
$color-accent: #fb923c; // Radix orange8
$color-accent-dark: #ea580c; // Radix orange11
