@use 'reset';
@use 'fonts';
@use 'variables' as v;

body {
  background-color: v.$color-alt;
  margin: 0;
  font-family: 'League Spartan', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
