@use '../../../styles/variables' as v;

.header {
  background-color: v.$color-primary;
  padding: 1rem;
  color: v.$color-light;
  text-align: center;

  &-dark {
    background-color: v.$color-dark;
    padding: 1rem;
    color: v.$color-light;
    text-align: center;
  }
  &-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &-input {
    width: 2.5rem;
    height: 1.6rem;
    margin: 0.2rem;
  }

  // &-title {
  //   color: #f1c5b6;
  //   font-size: 700;
  // }

  // &-p {
  //   color: #f1c5b6;
  //   font-size: 300;
  // }
}
