@use '../../../styles/variables' as v;

.header {
  background-color: v.$color-primary;
  padding: 1rem;
  color: v.$color-light;
  text-align: center;

  &-dark {
    background-color: v.$color-dark;
    padding: 1rem;
    color: v.$color-light;
    text-align: center;
  }
  &-div {
    display: inline;
  }

  // &-title {
  //   color: #f1c5b6;
  //   font-size: 700;
  // }

  // &-p {
  //   color: #f1c5b6;
  //   font-size: 300;
  // }
}
