@use '../../../styles/variables' as v;

.footer {
  padding: 1.5rem;
  color: v.$color-primary;
  text-align: center;
  transition: color 0.3s ease;
  padding-bottom: 1rem;

  // Version sombre
  .App-dark & {
    color: v.$color-accent;
  }
}
